* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
    padding:1em;
    margin:20px
}
