* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(87, 124, 50);
}

